@utility no-spinner {
	appearance: textfield;
	-moz-appearance: textfield;

	&::-webkit-inner-spin-button,
	&::-webkit-outer-spin-button {
		appearance: none;
		-webkit-appearance: none;
		margin: 0;
	}
}

/* Grid background */
@keyframes grid-drift {
	0% {
		background-position:
			0px 0px,
			0px 0px;
	}
	100% {
		background-position:
			44px 44px,
			44px 44px;
	}
}

@utility cross-bg {
	--line-color: rgba(26, 163, 176, 0.1);
	background-color: var(--muted);
	background-image:
		linear-gradient(var(--line-color) 1px, transparent 1px),
		linear-gradient(90deg, var(--line-color) 1px, transparent 1px);
	background-size: 44px 44px;
	animation: grid-drift 10s linear infinite;
}
